.input {
  border: none;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--primary);
  padding: 0.7rem;
  transition: all 0.3s ease-out;
  margin: 0.5rem 0 1rem 0;
}

.input:focus {
  font-size: 1.5rem;
}

.input.success {
  border-color: var(--success);
}

.input.danger {
  border-color: var(--danger);
}

.constraints {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.constraints > * {
  color: var(--light-1);
}