@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

:root {
  --dark:rgb(36, 35, 35);
  --dark-1:rgb(66, 65, 65);
  --light: rgb(236, 236, 236);
  --light-1: rgb(167, 166, 166);
  --primary: rgb(231, 99, 46);
  --danger: rgb(231, 46, 46);
  --success: rgb(98, 231, 46);
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  color: var(--light);
  font-family: 'Oxygen', Arial, sans-serif;
}

h4, h5, h6 {
  font-family: 'Cairo';
}

/* class utilitiess */
.apply-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
